body {
  display: flex;
  justify-content: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.agu-display-fnt {
  font-family: "Agu Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
}

.body {
  height: 100%;
  align-items: center;
  text-align: center;
  padding: 100px;
  background-color: antiquewhite;
  border: 10px solid burlywood;
  border-radius: 10px;
  margin: 25px;
  max-width: 400px;
}

.title {
  font-size: 32px;

}

.texts {
  text-shadow: 5px 5px 10px rgb(106, 104, 104);
}

button {
  border: 3px solid rgb(84, 84, 84);
  border-radius: 5px;
  padding: 5px 10px;
  background-color: burlywood;
  color: black;
  margin: 10px;
  box-shadow: 5px 5px 5px grey;
}

#entries-section {
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid burlywood;
  padding: 10px;
  box-shadow: 2px 2px 5px grey;
  border-radius: 5px;
}

img {
  width: 250px;
  height: auto;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}